# Chapter 5: How to get the data

Before you run the examples in this Notebook, make sure you run this Notebook:

../data/download_more_data.ipynb

This is described in appendixes A and B, and it downloads several large data files that are used by this Notebook.

In [24]:
import pandas as pd

## How to import a CSV file from a website

In [25]:
mortality_url = "https://data.cdc.gov/api/views/v6ab-adf5/rows.csv?accessType=DOWNLOAD"
mortality_data = pd.read_csv(mortality_url)

## How to import the first sheet of an Excel file

In [26]:
# NOTE: This code example is presented later in this Notebook, after the Excel file has been downloaded

## How to download a file to disk before importing it

In [27]:
from urllib import request
polls_url = \
    'http://projects.fivethirtyeight.com/general-model/president_general_polls_2016.csv'
request.urlretrieve(polls_url, filename='president_polls_2016.csv')

('president_polls_2016.csv', <http.client.HTTPMessage at 0x224a651b340>)

In [28]:
polls = pd.read_csv('president_polls_2016.csv')
polls.head(2)

,cycle,branch,type,matchup,forecastdate,state,startdate,enddate,pollster,grade,...,adjpoll_clinton,adjpoll_trump,adjpoll_johnson,adjpoll_mcmullin,multiversions,url,poll_id,question_id,createddate,timestamp
0,2016,President,polls-plus,Clinton vs. Trump vs. Johnson,11/8/16,U.S.,11/3/2016,11/6/2016,ABC News/Washington Post,A+,...,45.20163,41.72430,4.626221,NaN,NaN,https://www.washingtonpost.com/news/the-fix/wp...,48630,76192,11/7/16,09:35:33 8 Nov 2016
1,2016,President,polls-plus,Clinton vs. Trump vs. Johnson,11/8/16,U.S.,11/1/2016,11/7/2016,Google Consumer Surveys,B,...,43.34557,41.21439,5.175792,NaN,NaN,https://datastudio.google.com/u/0/#/org//repor...,48847,76443,11/7/16,09:35:33 8 Nov 2016

## How to work with a zip file on disk

### Download the zip file to disk

In [29]:
# NOTE: This code may take a long time to run
from urllib import request
zip_url = 'https://www.bls.gov/oes/special.requests/oesm18all.zip'
request.urlretrieve(zip_url, filename='oesm18all.zip')

('oesm18all.zip', <http.client.HTTPMessage at 0x224dcd345b0>)

### Extract the files and list their names

In [30]:
from zipfile import ZipFile
file_names = list() 
with ZipFile('oesm18all.zip', mode='r') as zip:
    zip.extractall()
    for file in zip.infolist():
        file_names.append(file.filename)
        print(file.filename, file.compress_size, file.file_size)

oesm18all/all_data_M_2018.xlsx 70296790 71834374

### Two ways to read an extracted file into a DataFrame

In [31]:
# NOTE: This code may take a long time to run
import time
start = time.process_time()
jobs = pd.read_excel("oesm18all/all_data_M_2018.xlsx") 
print("--- %s seconds ---" % (time.time() - start))

--- 1634670550.2972012 seconds ---

In [32]:
# NOTE: This code may take a long time to run
start = time.process_time()
jobs = pd.read_excel(file_names[0])
print("--- %s seconds ---" % (time.time() - start))

--- 1634670536.2528732 seconds ---

## How to run queries against a database

In [33]:
import sqlite3
fires_con = sqlite3.connect('../data/Data/FPA_FOD_20170508.sqlite')
fires_cur = fires_con.cursor()

In [34]:
fires_cur.execute(
    'SELECT name FROM sqlite_master WHERE type="table"').fetchall()

[('spatial_ref_sys',),
 ('spatialite_history',),
 ('sqlite_sequence',),
 ('geometry_columns',),
 ('spatial_ref_sys_aux',),
 ('views_geometry_columns',),
 ('virts_geometry_columns',),
 ('geometry_columns_statistics',),
 ('views_geometry_columns_statistics',),
 ('virts_geometry_columns_statistics',),
 ('geometry_columns_field_infos',),
 ('views_geometry_columns_field_infos',),
 ('virts_geometry_columns_field_infos',),
 ('geometry_columns_time',),
 ('geometry_columns_auth',),
 ('views_geometry_columns_auth',),
 ('virts_geometry_columns_auth',),
 ('sql_statements_log',),
 ('SpatialIndex',),
 ('ElementaryGeometries',),
 ('KNN',),
 ('Fires',),
 ('idx_Fires_Shape',),
 ('idx_Fires_Shape_node',),
 ('idx_Fires_Shape_rowid',),
 ('idx_Fires_Shape_parent',),
 ('NWCG_UnitIDActive_20170109',)]

## How to use a SQL query to import data into a DataFrame

### Get information about a table

In [35]:
fires_cur.execute('PRAGMA table_info(Fires)').fetchall()

[(0, 'OBJECTID', 'integer', 1, None, 1),
 (1, 'FOD_ID', 'int32', 0, None, 0),
 (2, 'FPA_ID', 'text(100)', 0, None, 0),
 (3, 'SOURCE_SYSTEM_TYPE', 'text(255)', 0, None, 0),
 (4, 'SOURCE_SYSTEM', 'text(30)', 0, None, 0),
 (5, 'NWCG_REPORTING_AGENCY', 'text(255)', 0, None, 0),
 (6, 'NWCG_REPORTING_UNIT_ID', 'text(255)', 0, None, 0),
 (7, 'NWCG_REPORTING_UNIT_NAME', 'text(255)', 0, None, 0),
 (8, 'SOURCE_REPORTING_UNIT', 'text(30)', 0, None, 0),
 (9, 'SOURCE_REPORTING_UNIT_NAME', 'text(255)', 0, None, 0),
 (10, 'LOCAL_FIRE_REPORT_ID', 'text(255)', 0, None, 0),
 (11, 'LOCAL_INCIDENT_ID', 'text(255)', 0, None, 0),
 (12, 'FIRE_CODE', 'text(10)', 0, None, 0),
 (13, 'FIRE_NAME', 'text(255)', 0, None, 0),
 (14, 'ICS_209_INCIDENT_NUMBER', 'text(255)', 0, None, 0),
 (15, 'ICS_209_NAME', 'text(255)', 0, None, 0),
 (16, 'MTBS_ID', 'text(255)', 0, None, 0),
 (17, 'MTBS_FIRE_NAME', 'text(50)', 0, None, 0),
 (18, 'COMPLEX_NAME', 'text(255)', 0, None, 0),
 (19, 'FIRE_YEAR', 'int16', 0, None, 0),
 (20, 'DISCOVERY_DATE', 'realdate', 0, None, 0),
 (21, 'DISCOVERY_DOY', 'int32', 0, None, 0),
 (22, 'DISCOVERY_TIME', 'text(4)', 0, None, 0),
 (23, 'STAT_CAUSE_CODE', 'float64', 0, None, 0),
 (24, 'STAT_CAUSE_DESCR', 'text(100)', 0, None, 0),
 (25, 'CONT_DATE', 'realdate', 0, None, 0),
 (26, 'CONT_DOY', 'int32', 0, None, 0),
 (27, 'CONT_TIME', 'text(4)', 0, None, 0),
 (28, 'FIRE_SIZE', 'float64', 0, None, 0),
 (29, 'FIRE_SIZE_CLASS', 'text(1)', 0, None, 0),
 (30, 'LATITUDE', 'float64', 0, None, 0),
 (31, 'LONGITUDE', 'float64', 0, None, 0),
 (32, 'OWNER_CODE', 'float64', 0, None, 0),
 (33, 'OWNER_DESCR', 'text(100)', 0, None, 0),
 (34, 'STATE', 'text(255)', 0, None, 0),
 (35, 'COUNTY', 'text(255)', 0, None, 0),
 (36, 'FIPS_CODE', 'text(255)', 0, None, 0),
 (37, 'FIPS_NAME', 'text(255)', 0, None, 0),
 (38, 'Shape', 'POINT', 1, None, 0)]

### Import the data from a query into a DataFrame

In [36]:
# NOTE: This code may take a long time to run
fires = pd.read_sql_query(
    '''SELECT STATE, FIRE_YEAR, DATETIME(DISCOVERY_DATE) AS DISCOVERY_DATE,
       FIRE_NAME, FIRE_SIZE, LATITUDE, LONGITUDE
    FROM Fires''', fires_con)
fires.head()

,STATE,FIRE_YEAR,DISCOVERY_DATE,FIRE_NAME,FIRE_SIZE,LATITUDE,LONGITUDE
0,CA,2005,2005-02-02 00:00:00,FOUNTAIN,0.10,40.036944,-121.005833
1,CA,2004,2004-05-12 00:00:00,PIGEON,0.25,38.933056,-120.404444
2,CA,2004,2004-05-31 00:00:00,SLACK,0.10,38.984167,-120.735556
3,CA,2004,2004-06-28 00:00:00,DEER,0.10,38.559167,-119.913333
4,CA,2004,2004-06-28 00:00:00,STEVENOT,0.10,38.559167,-119.933056

## How to build DataFrames for the metadata and the data in a Stata file

### Get metadata from a Stata file

In [37]:
import pyreadstat
gss_stata_filename = '../data/GSS7218_R3.DTA'
gss_empty, gss_meta = pyreadstat.read_dta(
    gss_stata_filename,
    metadataonly=True)
type(gss_meta)

ModuleNotFoundError: No module named 'pyreadstat'

### What the attributes of the metadata container can tell you

In [ ]:
print("Number of columns:", gss_meta.number_columns)
print("Number of rows:", gss_meta.number_rows)
print("Column names:", gss_meta.column_names)

### How to build a DataFrame for the column descriptions in the metadata

In [ ]:
meta_cols=pd.DataFrame(
    data=gss_meta.column_labels,
    index=gss_meta.column_names,
    columns=['description'])
meta_cols.head(5)

### How to import columns of the data into a DataFrame

In [ ]:
gss_data = pd.read_stata('../data/GSS7218_R3.DTA',
    columns=['year','id','wrkstat','hrs1','hrs2','evwork','wrkslf','wrkgovt'])
gss_data.tail()

## How to download a JSON file

In [ ]:
import json
from urllib import request
shots_url = 'https://www.murach.com/python_analysis/shots.json'
request.urlretrieve(shots_url, filename='shots.json')

## How to build a DataFrame for the data

In [ ]:
with open('shots.json') as json_data:
    shots = json.load(json_data)

In [ ]:
allRows = shots['resultSets'][0]['rowSet']
columnHeaders = [x.lower() for x in shots['resultSets'][0]['headers']]
shots = pd.DataFrame(data=allRows, columns=columnHeaders)
shots.head()